
    .scroll{
        height: calc(100vh - 100%);
        min-height: calc(100vh - 135px);
        overflow-y: scroll;
        position: relative;
        /* width */
        &::-webkit-scrollbar {
            width: 7px;
        }
        
        /* Track */

        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #008cff; 
            border-radius: 10px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #008cff; 

        }
    }

    .form-range{
        display: flex;
        align-items: center;
    }

    #form-edit-table{
        label{
            width: 60px;
        }
        .input-edit-table{
            width: 200px;
            height: 30px;
        }
    }
    

