.Footer-timelyne{
    font-weight: 500;
    font-size: 1.5rem;
    height: 100px;
    
}
.Footer-ti{
    color: #3182CE
}
.Footer-me{
    color: green;
}
.Footer-ly{
    color: red;
}
.Footer-ne{
    color: orange;
}

